<%- include('./partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="chores">
  <button type="submit">Save skills</button>
</form>

<%- include('./partials/footer') %>